html {
    background-color: #e4e9fd;
    background-image: linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 62.5rem;
    font-family: 'helvetica neue';
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2{
    width: 25rem;
    color: #000;
    padding: 0.63rem;
}

.box {
    width: 60%;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 3.13rem auto;
    padding: .5rem 1.5rem;
    background: #fff;
    border-radius: 0.31rem;
    box-shadow: 0.31rem 0.31rem 0.94rem -0.31rem rgba(0,0,0,0.3);
}

.box .empty-list-warning {
    text-align: center;
}

#header {
    width: 100%;
    background-color: #a683e3;
    color: #ffffff;
    padding: 2rem 0;
    font-size: 1.8rem;
}

.heading, #header {
    text-align: center;
}

.heading {
    width: 100%;
    position: relative;
}

/* Filter Section */

.filter-section {
    width: 100%;
    margin: 1rem 0;
}

.filter-form, .add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-form label{
    font-size: 1.25rem;
    font-weight: 200;
}

.filter-form label, #priorityFilter {
    margin-bottom: 1rem;
}

#priorityFilter, #priority {
    width: 5rem;
}

#priority {
    margin: 1rem 0 0 0;
}

/* Filter Section End */


/* ToDo List item  */

.item {
    width: 100%;
    position: relative;
    /* min-height: 4.38rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.06rem solid #f1f1f1;
    margin: 0 0 1rem 0;
}

.item-details {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: .2rem solid #f4f4f4;
}

.item-details .todo-item {
    width: 80%;
}

.item-priority {
    width: 10%;
}

 .item-actions {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Allows paragraph to take available space */
.item p {
    margin: 0 0.625rem 0 0;
    flex-grow: 1; 
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #a683e3;
}

input[type="checkbox"]{
    margin: .5rem 0.1rem;
    width: 10%;
}

p {
    /* padding: 1.25rem; */
    font-size: 1.25rem;
    font-weight: 200;
    color: #00204a;
}

/* ToDo List item End */

form {
    text-align: center;
    margin-left: 1.25rem;
}

.action-button {
    border-color: transparent;
    background: #a683e3;
    color: #fff;
    border-color: transparent;
    margin-bottom: 1rem;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
}

.action-button:hover {
    background-color: #321c5a;
}

.filter-btn, .delete-button, .edit-button, .cancel-link {
    border-radius: .6rem;
    border-width: 0;
    letter-spacing: .12rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.add-btn {
    width: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    font-size: 1.88rem;
    padding-bottom: 0.38rem;
    border-width: 0;
    margin: 1rem 0;
}

input[type="text"], #priorityFilter, #priority{
    text-align: center;
    height: 3.75rem;
    width: 19.56rem;
    top: 0.63rem;
    border: none;
    background: transparent;
    font-size: 1.25rem;
    font-weight: 200;
}

input[type="text"]:focus{
    outline: none;
    box-shadow: inset 0 -0.19rem 0 0 #a683e3;
}

::placeholder {
    color: grey;
    opacity: 1;
}

.delete-form {
    display: block;
}

/* Edit Page */
.update-container { 
    max-width: 31.25rem; 
    margin: 4rem auto 0; 
    background: #f4f4f4; 
    padding: 1.25rem; 
    border-radius: 0.5rem; 
    text-align: center;
}

.edit-form > label, input, select, .update-btn { 
    display: block; 
    width: 100%; 
    margin-bottom: 0.625rem; 
    padding: 0.5rem; 
    box-sizing: border-box; 
}

.update-btn { 
    background: #5cb85c; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

button:hover { 
    background: #4cae4c; 
}

.cancel-link { 
    display: inline-block; 
    margin-top: 0.625rem; 
    color: #fff; 
}

.error-message { 
    color: red; 
    margin-bottom: 0.625rem; 
}

/* Edit Page Ends */

footer {
    color: white;
    /* color: rgba(0,0,0,0.5); */
    text-align: center;
    padding: 1.5rem 0;
}

/* Responsiveness  */

@media only screen and (max-width: 1000px){
    .box {
        width: 80%;
    }
}

@media only screen and (max-width: 750px){
    .item {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .item-details {
        width: 90%;
        border: 0;
        margin: 0 0 1rem 0;
    }

    .item-actions {
        width: 90%;
    }
}

@media only screen and (max-width: 450px){

    html {
        min-height: 1vh;
    }

    body {
        overflow: hidden;
    }
     .box {
        width: 96%;
    }

    .item-actions {
        width: 90%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px){
    .item-details {
        width: 90%;
        flex-direction: column;
    }

    .item-details .todo-item {
        width: 90%;
        text-align: center;
    }
}